/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- CSS RESET ------------------*/

body {
	font-size: 18px;
	background-color: #141414;
}

header, footer {
	width: 100%;
	background: #4d94ff;
	color: #ffffff;
	box-sizing: border-box;
	height: 70px;
	line-height: 70px;
	text-align: center;
}

header {
	display: inline-block;
	background-color: #000000;
	position: sticky;
	top: 0px;
	right: 0px;

}

section {
	padding-left: 2em;
}

footer {
	margin-top: 2em;
	clear: both;
	background-color: #000000;
}

nav {
	width: 65%;
}

img {
	max-width: 100%;
	max-height: 100%;
	border: 0px solid #adadad;
	display: inline-block;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	color: #E90A15;
	font-family: 'PT Sans Narrow', sans-serif;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: .75em;
	color: #ffffff;
	font-family: Helvetica;
}

a {
	text-decoration: none;
}

p {
	font-family: Helvetica;
	color: #b3b3b3;
	font-size: 14px;
	padding-top: 10px;
}

#site-title {
	float: left;
	width: 14%;
	text-align: center;
}

.nav-button {
	display: inline;
	background: none;
	margin-left: 15px;
	font-family: Helvetica;
	font-size: 17px;
	color: #b3b3b3;
}

a.nav-button:hover {
	color: #ffffff;
}

a.nav-button:visited {
	color: #b3b3b3;
}


/*START HERE*/

#critically-acclaimed-container {

}

#trending-now-container {

}

#adventure-and-actoin-container{

}

#comedies-container {

}


#header-movies {
	display: inline-block;
	color:#ffffff;
	font-family: Helvetica;
	font-size: 2.5em;
	width: 17%;
}

#header-dropdown {
	display: inline-block;	
	color: #ffffff;
	font-size: .5em;
	font-family: Helvetica;
	vertical-align: center;
	border-color: #ffffff;
	border-width: 3px;
}

.other-news-item {
	display: inline-block;
	width: 24%;
	padding-top: .1em;
	padding-top: .25em;
	padding-bottom: 4em;
}

.other-news-item img {
	width: 100%;
	height: 10em;
	object-fit: contain;
}

.page-header {
	margin-top: 1.5em;
	width: 100%;
	margin-bottom: 2.5em;
}
